{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login - {{ block.super }} {% endblock %}

{% block body %}
    <h1> Login </h1>
    <form method="POST" class="col-sm-6">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary"> Login</button>
    </form>
{% endblock %}