{% extends 'base.html' %}

{% block body %}
    <div class="col-sm-12">
        <h1> Here are all the days </h1>

        <ul>
            {% for date in dates %}
                <li>
                    <a href="{% url 'qanda:daily_questions' year=date.year month=date.month day=date.day %}"> {{ date }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

