{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">

    <title> {% block title %} Answerly {% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"> Answerly </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'qanda:ask' %}"> Ask </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'qanda:index' %}"> Today's hot question </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'qanda:days' %}"> All days </a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}"> Logout, {{ user.username }} </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}"> Login </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}"> Register </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <form class="form-inline" action="{% url 'qanda:question_search' %}" method="GET">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"> </button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %} {% endblock %}
</div>
</body>
</html>